<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }
    #panels {
       position: absolute;
       top: 0;
       bottom: 0;
       width: 100%;
       }
    #head {
        height:30px;
    }
    #targets {
        position: absolute;
        left: 0;
        bottom: 0;
        top: 20%;
        width: 50%;
    }
    #collections {
        position: absolute;
        right: 0;
        width: 50%;
        top: 20%;
        bottom: 1px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dark Matter</title>
</head>
<div id = "panels">
    <div id = "targets">
        {% block collection_targets %}
        {% endblock %}
    </div>
    <div id="collections">
        {% block collections %}
        {% endblock %}
    </div>
    <div id="head">
        <h1>dark matter</h1>
        <p> hell0, {{request.user.username}}</p>
    </div>
    <div id="menu">
        <a href="{% url 'chat' %}">results</a>
        <a href="{% url 'index' %}">data</a>
        {% if request.user.collection_manager %}
        <a href="{% url 'manage_collections' %} ">manage collections </a>
        {% endif %}


    </div>
    <div id = "chat">
        {% block chat %}
        {% endblock %}
    </div>
    <div id = "search">
        {% block search %}
        {% endblock %}
    </div>
    <div id = "collection_manager">
        {% block collection_manger %}
        {% endblock %}
    </div>

</div>
</html>