{% extends 'site_collections/index.html' %}


{% block right %}
 <table>
        <tr>
            <th>Created</th>
            <th>Translated</th>
            <th>Original</th>
        </tr>


            {% for collection in collection_list %}
                <tr>
                <td>{{collection.time_created|date:"m/d/Y G:i:s"}}</td>
                <td>{{collection.translated_url}}</td>
                <td>{{collection.original_url}}</td>
                </tr>
            {% endfor %}





    </table>

{% endblock %}

</html>