{% extends 'site_collections/index.html' %}
<!DOCTYPE html>
<html lang="en">


{% block collections %}
 <table>
        <tr>
            <th>Created</th>
            <th>Translated</th>
            <th>Original</th>
        </tr>


            {% for collection in collection_list %}
                <tr>
                <td>{{collection.time_created}}</td>
                <td>{{collection.translated_url}}</td>
                <td>{{collection.original_url}}</td>
                </tr>
            {% endfor %}





    </table>

{% endblock %}

</html>