
{% extends 'base.html' %}
{% block collection_targets %}

    <table>
        <tr>
            <th>Collection target</th>
            <th>Time Created</th>
            <th>Expand</th>
        </tr>


            {% for collection_target in collection_target_list %}
                <tr>
                <td>{{collection_target.name}}</td>
                <td>{{collection_target.time_created}}</td>
                <td> <a href= "{% url 'detail' collection_target.name %}"> detail</a></td>
                </tr>
            {% endfor %}





    </table>



{% endblock %}
</html>