<!DOCTYPE html>
<html lang="en">
{% extends 'users_base.html' %}

{% block content %}
<style>
    #login{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: black;
        color: white;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    form {
        text-align: center;
    }
</style>
<div id="login">
    <form method="post">
        <h2>Dark Matter</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Login">
    </form>
</div>

<div

{% endblock %}
</html>